<h2 class="title">Login</h2>
<h3>Enter your login and password</h3>

<form class="form" (ngSubmit)="showMessage(username, password)">

  <div *ngIf="name.value > 0 && name.invalid && (name.dirty || name.touched)" class="alert">
    <div *ngIf="name.errors?.['required']">*Username is required.</div>
    <div *ngIf="name.errors?.['minlength']">
      *Username must be at least 5 characters long.
    </div>
  </div>
  <input class="input-field" id="username" name="username" type="text" title="Username" placeholder="Username"
         [(ngModel)]="username" required minlength="5" #name="ngModel">

  <div *ngIf="pwd.value > 0 && pwd.invalid && (pwd.dirty || pwd.touched)" class="alert">
    <div *ngIf="pwd.errors?.['required']">*Password is required.</div>
    <div *ngIf="pwd.errors?.['minlength']">
      *Password must be at least 8 characters long.
    </div>
  </div>
  <input class="input-field" name="password" type="password" title="Password" placeholder="Password"
         [(ngModel)]="password" required minlength="8" #pwd="ngModel">

  <button class="form-submit" *ngIf="pwd.valid&&name.valid">Submit</button>
</form>
