h2, h3 {
  text-align: center;
  color: #333;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;

  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title {
  font-size: 36px;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 20px 25%;
}

.form-submit {
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.1s;
}

.form-submit:hover {
  background-color: rgba(0, 0, 0, 0.50);
  transform: scale(1.05, 1.05);
}

.form-submit:active {
  transform: scale(0.85);
}

.input-field-valid {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
  text-align: center;
  outline: none;
}

.input-field-invalid {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
  text-align: center;
  outline: none;
}

.input-field-valid:focus {
  border: 1px solid blue;
}

.input-field-invalid:focus {
  border: 1px solid red;
}

.alert {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  color: red;

  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
